<div id="<%= dom_id coding_class %>">
  <p>
    <strong>Title:</strong>
    <%= coding_class.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= coding_class.description %>
  </p>

</div>
