<% content_for :title, "Editing coding class" %>

<h1>Editing coding class</h1>

<%= render "form", coding_class: @coding_class %>

<br>

<div>
  <%= link_to "Show this coding class", @coding_class %> |
  <%= link_to "Back to coding classes", coding_classes_path %>
</div>
