<div id="<%= dom_id mentor_enrollment_assignment %>">
  <p>
    <strong>Mentor:</strong>
    <%= mentor_enrollment_assignment.mentor_id %>
  </p>

  <p>
    <strong>Enrollment:</strong>
    <%= mentor_enrollment_assignment.enrollment_id %>
  </p>

</div>
