<% content_for :title, "New mentor enrollment assignment" %>

<h1>New mentor enrollment assignment</h1>

<%= render "form", mentor_enrollment_assignment: @mentor_enrollment_assignment %>

<br>

<div>
  <%= link_to "Back to mentor enrollment assignments", mentor_enrollment_assignments_path %>
</div>
