<div id="<%= dom_id enrollment %>">
  <p>
    <strong>Course:</strong>
    <%= enrollment.course_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= enrollment.student_id %>
  </p>

  <p>
    <strong>Final grade:</strong>
    <%= enrollment.final_grade %>
  </p>

</div>
