<div id="<%= dom_id mentor_trimester_signup %>">
  <p>
    <strong>Mentor:</strong>
    <%= mentor_trimester_signup.mentor_id %>
  </p>

  <p>
    <strong>Trimester:</strong>
    <%= mentor_trimester_signup.trimester_id %>
  </p>

  <p>
    <strong>Max courses:</strong>
    <%= mentor_trimester_signup.max_courses %>
  </p>

</div>
