<% content_for :title, "Editing mentor trimester signup" %>

<h1>Editing mentor trimester signup</h1>

<%= render "form", mentor_trimester_signup: @mentor_trimester_signup %>

<br>

<div>
  <%= link_to "Show this mentor trimester signup", @mentor_trimester_signup %> |
  <%= link_to "Back to mentor trimester signups", mentor_trimester_signups_path %>
</div>
