<% content_for :title, "New mentor trimester signup" %>

<h1>New mentor trimester signup</h1>

<%= render "form", mentor_trimester_signup: @mentor_trimester_signup %>

<br>

<div>
  <%= link_to "Back to mentor trimester signups", mentor_trimester_signups_path %>
</div>
